html{
    background-color: aqua;
}
.container{
display: flex;
flex-flow: column wrap;
align-content: center;
padding: 2rem;
}
span:nth-child(2){
background-color: black;
width: 100px;
height: 100px;
display: inline-block;
margin-bottom: 10px;
}
#test1 {
    transition: 3s linear;
}
#test1:hover {
    width:200px;
}
#test2 {
    transition: 3s linear;
}
#test2:hover {
    width:200px;
    height: 200px;
}#test3 {
    transition: 3s linear;
}
#test3:hover {
    width:200px;
}#test4 {
    transition: 3s linear;
}
#test4:hover {
    width:200px;
}#test5 {
    transition: 3s linear;
}
#test5:hover {
    width:200px;
}#test6{
    transition: 3s linear;
}
#test6:hover {
    width:200px;
}
#test7{
    transition: 3s linear;
}
#test7:hover {
    width:200px;
}