html{
    background-image: url(./sky.jpg);
border-top: 5px solid black;
border-left: 5px solid blue;
border-bottom: 5px solid #660abb;
border-right: 5px solid plum;
height: 100%;
}
.background{
    width:100%;
    height: 200px;
    position: absolute;
    top: 200px;
    background-image: url(./city.png);
}
.road{
    width:100%;
    height: 200px;
    position: absolute;
    top: 400px;
    background-image:url(./road.jpg);
}
.car{

    width:100%;
    height: 200px;
    position: absolute;
    top:370px;
    animation: 3s moving infinite linear;
}
.carbody{
    width: 300px;
    
}
@keyframes moving{
    from{
        transform: translateX(0px);
    }to{
        transform: translateX(80vw);
    }
}
.wheel{
    width: 50px;
    border-radius: 50%;
    position: absolute;
    animation: 1s ramana infinite linear;
}
@keyframes ramana{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
.left-wheel{
    top:65px;
    left:28px;
}
.right-wheel{
    top:65px;
    left:212px;
}
.flag{
    width: 100px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 210px;
}
.sun{
    width: 100px;
    position: absolute;
    right: 150px;
}