
h2{
    margin-top: 0%;
    padding: 0%;
    text-align: center;
}
.flex-container{
    display: flex;
    align-items:center;
    justify-content: center;
}
.test{
    width: 100px;
    height: 100px;
    background-color: darkcyan;
    margin: 30px;
    animation-name: box1;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count:infinite ;
    position: relative;
}
@keyframes box1{
   from{
    transform: skewX(0deg,);
   }
   to{
    transform: skewX(30deg);
   }
}

.test1{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin:30px; 
    animation-name: box2;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    position: relative;
}
@keyframes box2{
    from{
     transform: skewY(0deg,);
    }
    to{
     transform: skewY(30deg);
    }
 }
.test2{
    width: 100px;
    height: 100px;
    background-color:darkgreen;
    margin:30px;
    animation:3s 2s box3 normal infinite ;
}
@keyframes box3{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
.test3{
    width: 100px;
    height: 100px;
    background-color:pink;
    margin:30px;
    animation: 1s 2s box4 normal infinite;
    
}
.test4{
    width: 100px;
    height: 100px;
    background-color:black;
    margin:30px;
    animation: 1s 3s box5 normal infinite ;
}
.test5{
    width: 100px;
    height: 100px;
    background-color:blueviolet;
    margin:30px;
    animation:3s 3s box6 normal infinite ;
}
@keyframes box4{
    from{
        transform: scaleY(0.3);
    }to{
        transform: scaleY(1);
    }
}
@keyframes box5{
    from{
        transform:scaleX(0.3); 
    }to{
        transform:scaleX(1);
    }
}
@keyframes box6{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
