*{
    background-color: plum;
}
.flex-container1{
    justify-content: center;
    display: flex;
}
.flexitem{
    width: 100px;
    height: 100px;
    background-color:black;
    margin-left: 10px;
}
.flex-container2{
    align-items: center;
}
.flexitem2{
    width: 100px;
    height: 100px;
    background-color:black;
    margin-bottom: 10px;
}