   @media(max-width:400px){
    html{
        background-image: url(./shara\ desert.jpg);
    }
    *{
        margin: 0;
        padding: 0;
       box-sizing: border-box;
      
    }
    .webpage{
        display: flex;
        position: relative;
    }
    nav{
        width: 100%;
        position: absolute;
        top: 0;
        left:0;
        padding: 20px 8%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
     .logo{
        width:80px;
    }
    li{
        display: inline-block;
        list-style-type: none;
        margin-left: 40px;
        color:aliceblue
    }
    img{
        width:30px;
    }
    .content{
        position: absolute;
        top: 200px;
        left:100px;
        color: white;
    }
    a{
        border: 2px solid white;
        position: absolute;
        top: 90px;
        color:black ;
        background-color: white;
        padding: 10px;
        border-radius: 50px;
        text-decoration: none;
        
    }
    .flex-container1{
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: right;
        position: relative;
        top:100px;
        right: 40px;
        flex-wrap: wrap;
       
    
    }
    .flex-container2{
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: right;
        position: relative;
        top:120px;
        right: 40px;
        flex-wrap: wrap;
       
    }
    .flex-item1{
        width: 200px;
        height: 200px;
        background-color: aquamarine;
        margin: 20px;
        border-radius: 10px;
        background-size: cover;
    }
    .flex-container1:hover{
       cursor: pointer;
    }
    
    .flex-item2{
        width: 200px;
        height: 200px;
        background-color: aquamarine;
        margin: 20px;
        border-radius: 10px;
        background-size: cover;
    }
    
    .box1{
        background-image: url(./pic-1.png);
        
    }
    .box1:hover{
        cursor: pointer;
        transform: translateY(2%);
       
     }
     .box2:hover{
        cursor: pointer;
        transform: translateY(2%);
     }
     .box3:hover{
        cursor: pointer;
        transform: translateY(2%);
     }
     .box4:hover{
        cursor: pointer;
        transform: translateY(2%);
     }
    .box2{
        background-image: url(./pic-2.png);
    }
    .box3{
        background-image: url(./pic-3.png);
    }
    .box4{
        background-image: url(./pic-4.png);
    }
    h2{
        padding: 20px;
        color: aliceblue;
    }
    span{
       line-height:2;
       padding-left: 10px;
       color: aliceblue;
    }
   }
   @media(min-width:401px) and (max-width: 750px){
    html{
        background-image: url(./shara\ desert.jpg);
    }
    *{
        margin: 0;
        padding: 0;
       box-sizing: border-box;
      
    }
    .webpage{
        display: flex;
        position: relative;
    }
    nav{
        width: 100%;
        position: absolute;
        top: 0;
        left:0;
        padding: 20px 8%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
     .logo{
        width:80px;
    }
    li{
        display: inline-block;
        list-style-type: none;
        margin-left: 40px;
        color:aliceblue
    }
    img{
        width:30px;
    }
    .content{
        position: absolute;
        top: 200px;
        left:100px;
        color: white;
    }
    a{
        border: 2px solid white;
        position: absolute;
        top: 90px;
        color:black ;
        background-color: white;
        padding: 10px;
        border-radius: 50px;
        text-decoration: none;
        
    }
    .flex-container1{
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: right;
        position: relative;
        top:100px;
        right: 40px;
        flex-wrap: wrap;
       
    
    }
    .flex-container2{
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: right;
        position: relative;
        top:120px;
        right: 40px;
        flex-wrap: wrap;
       
    }
    .flex-item1{
        width: 200px;
        height: 200px;
        background-color: aquamarine;
        margin: 20px;
        border-radius: 10px;
        background-size: cover;
    }
    .flex-container1:hover{
       cursor: pointer;
    }
    
    .flex-item2{
        width: 200px;
        height: 200px;
        background-color: aquamarine;
        margin: 20px;
        border-radius: 10px;
        background-size: cover;
    }
    
    .box1{
        background-image: url(./pic-1.png);
        
    }
    .box1:hover{
        cursor: pointer;
        transform: translateY(2%);
       
     }
     .box2:hover{
        cursor: pointer;
        transform: translateY(2%);
     }
     .box3:hover{
        cursor: pointer;
        transform: translateY(2%);
     }
     .box4:hover{
        cursor: pointer;
        transform: translateY(2%);
     }
    .box2{
        background-image: url(./pic-2.png);
    }
    .box3{
        background-image: url(./pic-3.png);
    }
    .box4{
        background-image: url(./pic-4.png);
    }
    h2{
        padding: 20px;
        color: aliceblue;
    }
    span{
       line-height:2;
       padding-left: 10px;
       color: aliceblue;
    }
   }
   @media(min-width:751px){
    html{
        background-image: url(./shara\ desert.jpg);
    }
    *{
        margin: 0;
        padding: 0;
       box-sizing: border-box;
      
    }
    .webpage{
        display: flex;
        position: relative;
    }
    nav{
        width: 100%;
        position: absolute;
        top: 0;
        left:0;
        padding: 20px 8%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
     .logo{
        width:80px;
    }
    li{
        display: inline-block;
        list-style-type: none;
        margin-left: 40px;
        color:aliceblue
    }
    img{
        width:30px;
    }
    .content{
        position: absolute;
        top: 200px;
        left:100px;
        color: white;
    }
    a{
        border: 2px solid white;
        position: absolute;
        top: 90px;
        color:black ;
        background-color: white;
        padding: 10px;
        border-radius: 50px;
        text-decoration: none;
        
    }
    .flex-container1{
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: right;
        position: relative;
        top:100px;
        right: 40px;
        flex-wrap: wrap;
       
    
    }
    .flex-container2{
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: right;
        position: relative;
        top:120px;
        right: 40px;
        flex-wrap: wrap;
       
    }
    .flex-item1{
        width: 200px;
        height: 200px;
        background-color: aquamarine;
        margin: 20px;
        border-radius: 10px;
        background-size: cover;
    }
    .flex-container1:hover{
       cursor: pointer;
    }
    
    .flex-item2{
        width: 200px;
        height: 200px;
        background-color: aquamarine;
        margin: 20px;
        border-radius: 10px;
        background-size: cover;
    }
    
    .box1{
        background-image: url(./pic-1.png);
        
    }
    .box1:hover{
        cursor: pointer;
        transform: translateY(2%);
       
     }
     .box2:hover{
        cursor: pointer;
        transform: translateY(2%);
     }
     .box3:hover{
        cursor: pointer;
        transform: translateY(2%);
     }
     .box4:hover{
        cursor: pointer;
        transform: translateY(2%);
     }
    .box2{
        background-image: url(./pic-2.png);
    }
    .box3{
        background-image: url(./pic-3.png);
    }
    .box4{
        background-image: url(./pic-4.png);
    }
    h2{
        padding: 20px;
        color: aliceblue;
    }
    span{
       line-height:2;
       padding-left: 10px;
       color: aliceblue;
    }
   }
    